@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Secular One";
  src: url("/fonts/SecularOne-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Reddit Sans";
  src: url("/fonts/RedditSans-Medium.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Open San";
  src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #0e1217;
}

::-webkit-scrollbar-thumb {
  background-color: #0297ff;
  border-radius: 6px;
  border: 3px solid #0e1217;
}

::-webkit-scrollbar-thumb:hover {
  background: #0123fd;
}
