@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Secular One";
  src: url("/fonts/SecularOne-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Reddit Sans";
  src: url("/fonts/RedditSans-Medium.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Open San";
  src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #e6e1e5;
}

::-webkit-scrollbar-thumb {
  background-color: #0297ff;
  border-radius: 6px;
  border: 3px solid #e6e1e5;
}

::-webkit-scrollbar-thumb:hover {
  background: #0123fd;
}

.swiper-pagination-bullet {
  background-color: #aeaaae;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background-color: #0297ff;
  opacity: 1;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

input[type="password"]::-ms-reveal, 
input[type="password"]::-ms-clear {
  display: none;
}